* {
    font-family: 'Futura';
}

header {
    text-align: center;
    position: static;
}

h1 {
    margin-bottom: 0px;
}

#headline {
    margin-top: 0px;
    color: grey;
}

#icon {
    margin-left: 50px;
}

/* style for navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    margin:auto;
    float:left;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

/* Nav bar: change the link color to black on hover */
li a:hover {
    background-color: black;
    color:white;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 
hover style for product browsering page from W3schools.com
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity 
*/
.column {
    margin-top: 1rem;
    float: left;
    width: 33.33%;
    position: relative;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.column:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 12px 36px;
}

/* when hover on the picture, the opacity of the image will change */
.column:hover .product_image {
    opacity: 0.6;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }


.content, .content.row {
    text-align: center;
}

#page_title {
    float: left;
    margin-left: 3rem;
    font-weight: bold;
}

.product_image {
    margin:auto;
}
