* {
    font-family: 'Futura';
}

header {
    text-align: center;
    position: static;
}
h1 {
    margin-bottom: 0px;
}
#headline {
    margin-top: 0px;
    color: grey;
}

#icon {
    margin-left: 50px;
}

/*style for navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    margin:auto;
    float:left;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
    color:white;
}

#content {
    margin-left: 60px;
    margin-right: 60px;
    position: absolute;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .column:hover .overlay {
    opacity: 1;
  }
  




