html,body,.content{
    height:100%;
    font-family: 'Rubik', sans-serif;
}

section {
    height: 100%;
    position: relative;
    text-align: center;
}

#bg-part1 {
    background-color: #182229;
}

#bg-part2 {
    background-color: #FFC857;
}

#bg-part3 {
    background-color: #C5D8D3;
}

#bg-part4 {
    background-color: #DC4739;
}

#bg-part5 {
    background-color: #91BAC8;
}

#bg-part6 {
    background-color: #FFEEDB;
}

#bg-part2, #bg-part3, #bg-part4, #bg-part5 {
    overflow: hidden;
}

.bg-img {
    width: 80%;
    margin-top: 5%;
}

.img-fluid {
    position: absolute;
    max-width: 80%; 
    left:12%;
    top:20%;
}

.heading {
    top:30%;
}

#intro {
    color:white;
    opacity: 0.9;
    font-weight: lighter;
    font-size: 15px;
    width: 60%;
    top: 65%;
    left: 20%;
    position: absolute;
}

.bg-font {
    max-width:30%;
    top: -5%;
    left: -2%;
}

.bg-font2 {
    max-width:30%;
    top: 90%;
    left: 70%;
}

#pot, #smoke {
    width: 10%;
    top:85%;
    left:45%;
}

.hp {
    width: 60%;
    max-width: 460px;
    min-width: 300px;
    margin-top: -10%;
    border-radius: 50%;
    /* max-width: 100%; and height: auto;  */
    /* cursor:url('img/chopstick.png'), auto; */
}

.cook-overlay {
    position: absolute;;
    background:#ffffff;
    opacity: 0.9;
    border-radius: 10px;
    border-color: transparent;
    width:40%;
    /* max-height: 30%; */
    left:30%; 
    top: 2%;
    z-index: 3;
}

.heavy {
    font-size: 20px;
    font-weight: bold;
}

.drag {
    width: 15%;
}

/* .cook-content {
    padding: 10%;
   text-align: center;
   font: 15px;
   word-wrap: break-word;

} */


/* Pop up style */
.popup-overlay{
    /*Hides pop-up when there is no "active" class*/
    visibility:hidden;
    position:absolute;
    background:#ffffff;
    opacity: 0.9;
    /* border:3px solid #666666; */
    border-radius: 10px;
    width:50%;
    height:70%;
    left:25%; 
    top: 15%;
  }
  .popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    transition-delay: 1s;
    visibility:visible;
    text-align:center;
    left: 40%;
    overflow: scroll;
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
   visibility:hidden;
   padding: 10%;
   text-align: center;
   
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    transition-delay: 1s;
    visibility:visible;
  }
  
  button{
    display:inline-block;
    margin:1rem;
    font-size: 1rem;
    color:#666666;
  }
  
  button:hover{
    color:#ffffff;
  }


/* note */

.text {
    right: 75%;
    top: 55%;
    height: 31%;
    z-index: 2;
}

.text-l {
    right: 75%;
    top: 45%;
    height: 45%;
    z-index: 2;
}


.fd {
    position: absolute;
    height: 15%;
    cursor:url('img/chopstick.png'), auto;

}


.fd-1 {
    top: 28%;
    left: 2%;
}

.fd-2 {
    top: 10%;
    left: 10%;
}

.fd-3 {
    top: 60%;
    left: 90%;
}

.fd-4 {
    top: 80%;
    left: 75%;
}

.fd-5 {
    top: 90%;
    left: 22%;
}

.fd-6 {
    top: 30%;
    left: 85%;
}

/* .fd-7 {
    top:55%;
    left: 80%;
} */

.sauce {
    position: absolute;
    height: 17%;
}

/* .draggable {
 
    background: #F90;
    border-radius: 10px;
  }
  .draggable.is-pointer-down {
  }
  .draggable.is-dragging { 
      opacity: 0.2; 
      background: black;
    }
   */



/* Animation for floating. Modified based on source:https://jsfiddle.net/djsbaker/rkzZG/ */
.floating{
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: Floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 20px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 20px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

.floating-rev{
    -webkit-animation-name: Floating-rev;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: Floating-rev;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating-rev{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, -20px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@keyframes Floating-rev{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, -20px);}
    to {-webkit-transform: translate(0, -0px);    }    
}


/* Animate.css */
#smoke {
    top: 83%;
    -webkit-animation: fadeOutUp;
    animation: fadeOutUp;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.hp:hover {
    padding-right: 10px;
    cursor: pointer;
}
  
@-webkit-keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
    }
}

@keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
    }
}
  
@-webkit-keyframes zoomOutLeft {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
      transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
    }
  
    to {
      -webkit-transform: scale(0.6) translate3d(-85%, 0, 0);
      transform: scale(0.6) translate3d(-85%, 0, 0);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
  }

  @keyframes zoomOutLeft {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
      transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
    }
  
    to {
      -webkit-transform: scale(0.6) translate3d(-85%, 0, 0);
      transform: scale(0.6) translate3d(-85%, 0, 0);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
  }

  
  .zoomOutLeft {
    -webkit-animation-name: zoomOutLeft;
    animation-name: zoomOutLeft;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    z-index: 3;
    position: relative;
  }


@-webkit-keyframes zoomInLeft {
    from {
        -webkit-transform: scale(0.6) translate3d(-85%, 0, 0);
        transform: scale(0.6) translate3d(-85%, 0, 0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
  
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
        transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
    }
  }

  @keyframes zoomInLeft {
    from {
        -webkit-transform: scale(0.6) translate3d(-85%, 0, 0);
        transform: scale(0.6) translate3d(-85%, 0, 0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
  
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
        transform: scale3d(0.5, 0.5, 0.5) translate3d(60px, 0, 0);
    }
  }
  
  .zoomInLeft {
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    position: relative;
  }


@-webkit-keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  
  .fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

  @-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }

  @keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }

  .shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  

@media (max-width:576px) {
    .cook-overlay {
        font-size: 12px;
    }
    .card-title, .heavy {
        font-size: 15px;
    }
}
@media (max-width:768px) {
    #intro {
        width: 70%;
        top: 55%;
        left: 15%;
        position: absolute;
    }
    .popup-overlay{
        /*Hides pop-up when there is no "active" class*/
        width:60%;
        height:70%;
        left:15%; 
        top: 15%;
      }
      .popup-overlay.active {
        /*displays pop-up when "active" class is present*/
        left: 30%;
        /* z-index: 3; */
      }
      .popup-content.active {
          font-size: 12px;
      }

      .popup-content.active h3 {
          font-size: 20px;
      }


  }